.auth-container(ng-controller='authController', style='text-align:center')
  .col-md-12.rem-pad
    .col-md-4
    .col-md-4.form-background   
    form
      .align-login
        span Welcome to home 
     .col-md-4
  .col-md-12